.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.debug/**
backend/**
**/*.zip
**/*.code-workspace
doc
*.vsix
images/*.gif
images/back-end-configuration.png
